.card-dashboard-mentor {
  margin-bottom: 24px;
  .card-body {
    .mentor-name {
      font-size: 18px;
      line-height: 27px;

      color: #0c0d36;
    }

    .mentor-category {
      font-size: 16px;
      line-height: 24px;

      color: #c5c5c5;
    }
  }
}
